.left-section {
  .Carousel__RailWrapper-sc-hyhecw-1 {
    margin: 0px !important;
  }

  .carousel-text {
    color: #fff;
    text-align: center;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-weight: 700;
  }

  .carousel-price {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
  }

  .lnm {
    display: flex;
    padding: 7px 13px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }

  .Carousel__Dots-sc-hyhecw-4 {
    bottom: 90px !important;
  }
}
