.modal-box-receipt {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear;
  overflow: auto;

  .modal-box-content-receipt {
    background: #ffffff;
    margin-top: 20%;
    padding: 50px;
    border: 1px solid rgba(56, 64, 87, 0.1);
    width: 60vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
}
