
.text_field_top{
    margin: 2rem 0;
}
.Button_style{
    background: black !important;
    color: white !important;
    border: none;
    border-radius: 8px !important;
    padding: 10px 0px !important;
    text-transform: capitalize !important;
}
.forgot{
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #25272D;
    text-decoration: none;
    cursor: pointer;
    text-align: right !important;
}
.container_style{
    border: none;
    box-shadow: 5px black;
    border-radius: 1rem;
}
