@import "/src/assets/styles/abstracts/variables";
.reset-password-page {
  @include respond(phone) {
    .left-section {
      display: none;
    }

    .right-section {
      width: 100% !important;
    
    }
  }
  .right-section {
    .reset-password-h1 {
      font-size: 24px;
      font-weight: 700;
      // @extend .primary-text-1;
    }

    .reset-password-p {
      font-size: 14px;
      font-weight: 500;
      // @extend .primary-text-1;
      max-width: 20rem;
    }

    .reset-input {
      width: 100%;
    }

    .reset-btn {
      font-size: 16px;
      font-weight: 700;
      padding: 14px 8px;
      border-radius: 8px;
      background-color: #241f20;
      color: #ffffff;
    }

    .success-img {
      height: 178px;
      width: 245px;
    }

    .login-btn {
      width: 195px;
    }

    .left-section {
      background-color: #f6f9fa;
      border-radius: 20px;
    }
  }
}
.reset-password-page{
  display: flex;
  justify-content: center;
}
.right-section{
  background-color: white;
  border-radius: 0.8rem;
  margin-top: 50px;
  width: 670px;
  height: 581px;
}