.tds_info_card {
    background-image: linear-gradient(to right bottom ,  #efd6a9, #f2bb51, #e7a6a4);
    padding: 20px;
    margin: 20px 0;
    border: 1px solid rgb(255, 206, 112);
    border-radius: 10px;
    color: black;
    
}
