.icon_style{
    // margin-top: 4.1rem !important;
    margin-left: 1.2rem !important;
    position: fixed !important;
    // border: 3px solid grey !important;

}
.icon_style1{
    margin-left: 12.4rem !important;
    position: fixed !important;
}
.left_icon_top{
    margin-top: 2.5rem !important;
}
.css-9mgopn-MuiDivider-root {
    border-bottom-width: none !important;
}
.css-9mgopn-MuiDivider-root , .css-39bbo6 {
    border-bottom-width: inherit !important;
}


