.sheet-cont-legal {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;

  .modal-content-legal {
    margin-top: 30px;
    background: #ffffff;
    border: 1px solid rgba(56, 64, 87, 0.1);
    position: absolute;
    left: 50%;
    top: 50%;
    min-height: 65vh;
    width: 50vw;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 40px;

    .done-btns {
      background-color: black;
      color: white;
      padding: 8px 24px;
      width: fit-content;
      border-radius: 10px;
    }
    .change-btns {
      background-color: rgb(255, 255, 255);
      color: black;
      width: fit-content;
      padding: 10px 20px;
      border-radius: 10px;
      border: 2px solid black;
    }
  }
}
