.header-page {
    .profileDropdown {
        position: relative;
        max-width: fit-content;

        .header-img {
            width: 2rem;

            img {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
            }
        }

        &__list {
            position: absolute;
            top: 28px;
            z-index: 1;
            box-shadow: 0px 20px 44px rgba(7, 32, 46, 0.14);
            background-color: #ffffff;

            margin-top: 1rem;
            padding: 1rem;
            right: 0px;
            gap: 4px;
            border-radius: 8px;
            width: 180px;
        }
    }
    
}
.heading{
    font-weight: bold;
    color: black;
    font-size: 24px;
}