.topbar{
    background-color: white !important;
    border-bottom: 2px solid #DFE1E7;
}
.avatar{
    // border-left: 1px solid #C0C4CE !important;
    padding-left: 10px !important;
    margin-right: 15px !important;
}


.notification-wrapper {
    position: absolute;
    top: 100%;
    right: 10px; // Adjust based on alignment
    width: 380px; // Fixed width for notifications
    max-height: 400px; // Fixed height to prevent expanding
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0px 20px 44px rgba(7, 32, 46, 0.14);
    background-color: white; // Ensures the notification list background
  
    .notifications__list {
      padding: 1rem;
    }
  }
  