.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: #fff;
  z-index: 999;
  border-top: 1px solid var(--Outline-04-Separator, #dfe1e7);
}

.mystyle {
  font-weight: 500;
  flex-direction: row;
  align-items: center !important;
  color: #25272d;
  padding: 1rem;
  cursor: pointer;
}

.iconContainer {
  flex-direction: row;
  align-items: center !important;
  color: #656c7b;
  cursor: pointer;
  padding: 1rem;
}

.FooterCenter {
  display: flex;
  justify-content: center;
}
