.card {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 228, 225, 0.8),
    #c8e6c9
  );
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #004d40;
  position: relative;
}


