@import "/src/assets/styles/abstracts/variables";

.theme-toast {
    background-color: #ffffff;
    color: rgba(10, 44, 63, 1);
    border: 1px solid rgba(17, 13, 63, .08);
}
body{
    background-color: #EAECEF;
}
.upload-button, .cancel-button {
    padding: 8px 16px;
    margin: 0px 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color: #007BFF;
}