.documents-cont {
    width: 100%;

    .downloads-name {
        color: var(--Font-F1-Title, var(--B1-Tooltip, #3C4049));
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        /* 150% */
    }

    // .search-downloads {
    //     border: 1px solid rgba(128, 128, 128, 0.779);
    //     border-radius: 10px;

    //     input {
    //         border: none;
    //         outline: none;
    //         font-size: 1rem;
    //     }
    // }

    .uploads-name {
        color: var(--Font-F2-Body, #25272D);
        font-family: Inter;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    .add_new {
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        color: var(--Font-F1-Title, var(--B1-Tooltip, #3C4049));
        text-align: center;

        /* Text/T7 Section Title 2 */
        font-family: Inter;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;

        img {
            width: 1.4rem;
        }

        /* 22.4px */
    }

    // .upload-sheet-cont {
    //     display: block;
    //     position: fixed;
    //     right: 0;
    //     top: 0;
    //     z-index: 99;
    //     width: 100vw;
    //     height: 100vh;
    //     background-color: black;
    //     background-color: rgba(0, 0, 0, 0.4);
    //     -webkit-transition: 0.5s;
    //     overflow: auto;
    //     transition: all 0.3s linear;
    //     border-radius: 5px;
    //     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    //     z-index: 100;

    //     .modal-content {
    //         margin-top: 30px;
    //         background: #ffffff;
    //         border: 1px solid rgba(56, 64, 87, 0.1);
    //         position: absolute;
    //         left: 50%;
    //         top: 50%;
    //         transform: translate(-50%, -50%);
    //         max-width: 45vw;
    //         // max-height:90vh ;
    //         padding-bottom: 6rem;
    //         flex-direction: column;
    //         position: relative;
    //         border-radius: 10px;
    //         background: var(--background-b-8-panels-cards, #FFF);
    //         display: flex;
    //         justify-content: space-between;
    //         padding: 32px;
    //         flex-direction: column;
    //         gap: 16px;

    //         .content-upper {
    //             font-size: 1.7rem;

    //             img {
    //                 scale: 1.5;
    //             }
    //         }

    //         .select-category-cont div {
    //             border: 1px solid rgba(128, 128, 128, 0.512);
    //             padding: 15px;
    //             border-radius: 15px;
    //             color: rgba(128, 128, 128, 0.617);
    //             font-size: 1.1rem;
    //         }

    //         .select-category-cont {
    //             position: relative;

    //             // .dropDownBox {
    //             //     position: absolute;
    //             //     margin-top: 5px;
    //             //     width: 80%;
    //             //     max-height: 150%;
    //             //     background-color: white;
    //             //     padding: 0px;
    //             //     border-radius: 2px;
    //             //     overflow-y: scroll;

    //             //     div {
    //             //         border: none;
    //             //         margin-top: 2px;
    //             //         border-radius: 1px;
    //             //     }
    //             // }
    //         }

    //         // .input-tag {
    //         //     border: 1px solid rgb(173, 171, 171);
    //         //     padding: 10px;
    //         //     border-radius: 10px;
    //         // }

    //         .uploads-cont {
    //             display: flex;
    //             flex-direction: row;
    //             justify-content: flex-end;

    //             button {
    //                 padding: 12px 35px;
    //                 font-size: 1.2rem;
    //             }

    //             .close-btn {
    //                 border: 1px solid black;
    //                 border-radius: 15px;
    //                 margin-right: 12px;
    //             }

    //             .upload-btn {
    //                 border: 1px solid black;
    //                 border-radius: 15px;
    //                 background-color: black;
    //                 color: white;

    //             }
    //         }
    //     }

    // }

    
}